.myProjectsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 250px;
  background-image: url('../../Images/bgimage1.jpg');
  background-size: cover;

  section {
    width: 50%;
    padding: 20px;
  }

  .text {
    font-size: 4vw;
    color: #686868;

    h2 {
      font-weight: 400;

      span {
        color: #fff;
      }
    }
  }


  .imagesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: grayscale(100%);
    transition: .5s;

    &:hover {
      filter: grayscale(0%);
    }

    .images {
      position: relative;
      display: grid;
      gap: 10px;
      width: 40vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
      grid-template-areas:
        'img1 img1 img3'
        'img1 img1 img3'
        'img2 img4 img6'
        'img5 img4 img6'
        'img5 img4 img6'
        'img7 img8 img8'
        'img9 img9 img9';

      .item {
        position: relative;
        background-color: #fff;
        overflow: hidden;
        border-radius: 20px;
        border: 2px solid transparent;
        transition: .5s;

        &:hover {
          border-color: goldenrod;
          transform: scale(110%);
          z-index: 100;
        }
      }

      .img1 {
        grid-area: img1;
        background-image: url('../../Images/imgProjects/fotoTheblog.png');
        background-size: cover;
        background-position: center;
      }

      .img2 {
        grid-area: img2;
        background-image: url('../../Images/imgProjects/pageStoreMarshall.png');
        background-size: cover;
        background-position: center;
      }

      .img3 {
        grid-area: img3;
        background-image: url('../../Images/imgProjects/moviesOnly2.png');
        background-size: cover;
        background-position: center;
      }

      .img4 {
        grid-area: img4;
        background-image: url('../../Images/imgProjects/lojaMuitaMelodia-2.png');
        background-size: cover;
        background-position: center;
      }

      .img5 {
        grid-area: img5;
        background-image: url('../../Images/imgProjects/fotoPokeM.png');
        background-size: cover;
        background-position: center;
      }

      .img6 {
        grid-area: img6;
        background-image: url('../../Images/imgProjects/fotoMygram.png');
        background-size: cover;
        background-position: center;
      }

      .img7 {
        grid-area: img7;
        background-image: url('../../Images/imgProjects/calculadora.png');
        background-size: cover;
        background-position: center;
      }

      .img8 {
        grid-area: img8;
        background-image: url('../../Images/imgProjects/cronometro.png');
        background-size: cover;
        background-position: center;
      }

      .img9 {
        grid-area: img9;
        background-image: url('../../Images/imgProjects/crudJavascript.png');
        background-size: cover;
        // background-position: center;
      }
    }

    .principalWorks {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 20px;
      background-color: #1f1f1f;
      border: 2px solid transparent;
      margin: 20px 0;
      color: #fff;
      border-radius: 20px;
      transition: .5s;

      &:hover {
        border-color: #fff;
      }
    }

  }
}



// Media
@media (max-width: 1250px) {
  .myProjectsContainer {
    flex-direction: column;
    padding-bottom: 0;

    section {
      width: 100%;
    }

    .imagesContainer {
      width: 100%;
      align-self: center;

      .images {
        width: 90%;
      }
    }
  }
}

@media (max-width: 596px) {
  .myProjectsContainer {
    .imagesContainer {
      .images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'img1 img1 img3 img3'
        'img1 img1 img3 img3'
        'img2 img2 img6 img6'
        'img2 img2 img6 img6'
        'img5 img5 img8 img8'
        'img5 img5 img8 img8'
        'img9 img9 img9 img9';
      }
    }
  }
}