.aboutMeContainer {
  position: relative;
  margin-top: 2rem;

  .number {
    position: absolute;
    font-size: 9vw;
    font-weight: 600;
    color: #333;
    left: 300px;
    top: -50px;
    opacity: 0;
    transition: .8s;

    &.show {
      opacity: 1;
    }
  }


  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow: hidden;

    h1 {
      font-size: 9vw;
      font-weight: 200;
      color: #ddd;
      transition: 1s;


      &:nth-child(1) {
        transform: translateX(-20%);
      }

      &:nth-child(3) {
        transform: translateX(20%);
        font-weight: 400;
      }
    }

    svg {
      color: goldenrod;
      transform: 1s;
      animation: goAndBack 2s linear infinite;
    }

    h1.toLeft {
      transform: translateX(-2.5%);
    }

    h1.toRight {
      transform: translateX(2.5%);
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
    margin-bottom: 70px;
    gap: 10px;

    p {
      font-size: 1.3rem;
      font-weight: 500;
      color: #555;
      text-transform: uppercase;
    }

    span {
      width: 100%;
      height: 1px;
      background-color: #333;
    }
  }


  .context {
    width: 100%;

    .allContainers {
      display: flex;
      gap: 20px;

      margin: 0 20px;

      .container {
        gap: 20px;

        div {
          background-color: #333;
          color: #ddd;
          padding: 20px 30px;
          border-radius: 20px;
          font-size: 1.7rem;
          border: 1px solid #555;
        }
      }

      .containerText {
        display: flex;
        flex-direction: column;

        div .apresentation {
          line-height: 35px;
          font-size: 1.5rem;
        }

        .historic {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h2 {
            font-size: 1.7rem;
            text-transform: uppercase;
          }

          p {
            font-size: 1.2rem;
            line-height: 30px;
          }
        }
      }

      .containerSkills {

        .skills {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h2 {
            font-size: 1.7rem;
            text-transform: uppercase;
          }

          .allSkills {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            text-align: center;

            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

  }
}


// Media
@media (max-width: 1150px) {
  .aboutMeContainer {
    .context {
      .allContainers {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 500px) {
  .aboutMeContainer {
    .number {
      left: 70px;
    }

    .header {
      h1 {
        font-size: 2.5rem;
      }
    }

    .details {
      p {
        font-size: 1rem;
      }
    }

    .context {
      .allContainers {
        .containerSkills {
          .skills {
            .allSkills {
              div {
                width: 45%;
                

                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}